body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
input {
  padding: 10px;
  font-size: 16px;
  font-size: 25px;
}
button {
  padding: 10px 50px;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 25px;
}
li {
  margin: 10px 0;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
